@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./size";
@import "./color";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "League Spartan", sans-serif;
  background-color: $bgColor;
}

@mixin daj {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin dfa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin dfc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin dja {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 0px;
}
